*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, serif;
}

.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 50px auto;
}

.filters {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
}

select {
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

th,
td {
  width: 25%;
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}
