*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, serif;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.filters,
.table-container {
  width: 100%;
}

.filters-item {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

th,
td {
  width: 25%;
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

label,
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

input {
  border: 1px solid #959595;
  border-radius: 4px;
  padding: 4px 8px;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 20px auto;
    flex-direction: row;
  }

  .filters {
    width: 30%;
  }

  .table-container {
    width: 70%;
  }
}
